body {
    font-family: verdana;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45vw;
    background-color: #1d3557;
}

.container {
    text-align: center;
    background-color: #f1faee;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container2 {
    text-align: center;
    background-color: #f1faee;

    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
input {
    margin: 25px;
    padding: 10px;
    width: 90%;
    border-radius: 8px;
}

button {
    padding: 15px 40px;
    margin-top: 10px;
    background-color: #1d3557;
    color: white;
    border: none;
    border-radius: 8px;
  
}

#resultado {
    margin-top: 25px;
    font-size: 18px;
}
